section.pop-up-order-accepted(style = "background-image:url('./img/leave.png')")
    a(href="./index.html").pop-up-order-accepted__exit +
    .pop-up-order-accepted__container
        .pop-up-order-accepted__check(style = "background-image:url('./img/check.png')")
        h2.pop-up-order-accepted__title Ваш заказ принят.
        p.pop-up-order-accepted__subtitle Ожидайте звонка

