.index
    include ../../blocks/head/head
    include ../../blocks/header/header
    .space
    include ../../blocks/slider/slider
    .space
    include ../../blocks/product-properties/product-properties
    include ../../blocks/form/form