//-----------------------vars-------------------
$gray:rgba(31, 32, 65, 0.5);
$black:#1F2041;
//----------------------------------------------

@media (min-width:993px){
  html{
    font-size: .9vw;
  }
}
.space{
  height: 50px;
}