.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    background: honeydew;
    background: url("https://youiron.ru/sites/default/files/1316.jpg") center no-repeat;
    background-size: 100%;
}
@media(max-width:1150px){
    .header{
        background-size: 200vh;
    }
}
.header__title{
    font-size: 15.2vw;
    color: blue;
}
.header__video{
    width: 100%;
    height: 50vw;
    max-height: 300px;
    max-width: 600px; 
    margin:auto;
}
.header__order{
    padding: 5px 10px;

    background-color: yellow;

    font-weight: bold;
    font-size: 20px;
    
    border-radius: 6px;
    border: 1px solid #ad0;
}
.header__order:hover{
    background-color: #8f0;
}